body{
    background-color: white;
}
.text-block{
    background-color: white;
    width: 400px;
    height: 960px;
    margin: 0 400px;
    float: left;
}
.text-block-item{
    background-color: white;
    margin: 0 100px;
    float: left;
}
.text-block-item-2{
    background-color: white;
    margin-left: 600px;
}
.text-block-open{
    border: 1px solid black;
    text-align: center;
    line-height: 150px;
    background-color: white;
    width: 400px;
    height: 960px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 30px;
}
.text-block-open-2{
    border: 1px solid black;
    width: 400px;
    height: 960px;
    text-align: center;
    line-height: 150px;
    margin-left: 500px;
    margin-top: -960px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 30px;
}