body{
    background-color: white;
}
.text-block{
    width: 373px;
    height: 334px;
    margin: 200px auto;
    background-color: white;
}
.text-block-item{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-2{
    width: 50px;
    height: 55px;
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-3{
    width: 50px;
    height: 55px;
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-4{
    width: 50px;
    height: 55px;
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-5{
    width: 50px;
    height: 55px;
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-6{
    width: 50px;
    height: 55px;
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-7{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-8{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-9{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-10{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-11{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-12{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-13{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-14{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-15{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-16{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-17{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-18{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-19{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-20{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-21{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-22{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-23{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-24{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-25{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}
.text-block-item-26{
    width: 50px;
    height: 55px;
    background-color: yellowgreen ;
    border: 1px solid yellowgreen ;
    float: left;
    text-align: center;
    margin: 5px;
}